!DOCTYPE html>
<html lang ='en' dir = 'ltr'>
<body>
<div class = 'content'>
<h1 align='center'>House Price Prediction using Linear Regression model</h1>
<div class="form">
<form action="/predict" method="post">
<input type="number" name="bedrooms" id ='bedrooms' placeholder="bedrooms">
<input type="number" name="bathrooms" id ='bathrooms'placeholder="bathrooms">
<input type="number" name="sqft_living" id ='sqft_living'placeholder="sqft_living">
<input type="number" name="sqft_lot" id ='bathrsqft_lotooms' placeholder="sqft_lot">
<input type="number" name="floors" id ='floors' placeholder="floors">
<input type="number" name="waterfront" id ='waterfront' placeholder="waterfront">
<input type="number" name="view" id ='view' placeholder="view">
<input type="number" name="condition" id ='condition' placeholder="condition">
<input type="number" name="sqft_above" id ='sqft_above' placeholder="sqft_above">
<input type="number" name="sqft_basement" id ='sqft_basement' placeholder="sqft_basement">
<input type="number" name="yr_built" id ='yr_built' placeholder="yr_built">
<input type="number" name="yr_renovated" id ='yr_renovated' placeholder="yr_renovated">
<input type="submit" vlaue = 'Predict'>
</form>
 </div>
</div>
</body>
